name: Publish

env:
  DEBUG: napi:*
  APP_NAME: neemata-proxy
  MACOSX_DEPLOYMENT_TARGET: "10.13"
  CARGO_INCREMENTAL: "1"

permissions:
  contents: write
  actions: write
  attestations: write

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Whether to publish release"
        type: boolean
        required: true
        default: true
      pre-release:
        description: "Whether it is a pre-release"
        type: boolean
        required: true
        default: false
      autotag:
        description: "Whether to create a tag"
        type: boolean
        required: true
        default: true
      version:
        description: "Version to publish"
        type: string
        required: true

jobs:
  build:
    name: build - ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
            build: pnpm build:artifact --platform --target x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
            build: pnpm build:artifact --platform --target aarch64-apple-darwin
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: pnpm build:artifact --platform --target x86_64-unknown-linux-gnu
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
            build: pnpm build:artifact --platform --target x86_64-unknown-linux-musl -x
          - host: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            build: pnpm build:artifact --platform --target aarch64-unknown-linux-gnu --use-napi-cross
          - host: ubuntu-latest
            target: aarch64-unknown-linux-musl
            build: pnpm build:artifact --platform --target aarch64-unknown-linux-musl -x
          - host: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf
            build: pnpm build:artifact --platform --target armv7-unknown-linux-gnueabihf --use-napi-cross
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: ${{ matrix.settings.target }}
          cache: false
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            .cargo-cache
            target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.15.2
      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild
      - name: Patch crate
        run: |
          cargo install patch-crate
          cargo patch-crate
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-${{ matrix.settings.target }}
          path: "*.node"
          if-no-files-found: error

  build-and-publish:
    needs: [build]
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      version_tag: v${{ inputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
          cache: pnpm
      - name: Patch crate
        run: |
          cargo install patch-crate
          cargo patch-crate
      - name: Install dependencies
        run: pnpm install
      - name: Set version
        run: pnpm version --allow-same-version --no-commit-hooks --no-git-tag-version --silent ${{ inputs.version }}
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Create npm dirs
        run: pnpm napi create-npm-dirs
      - name: Move artifacts
        run: pnpm napi artifacts
      - name: Add dependency files
        run: pnpm napi prepublish --no-gh-release --tag-style npm --skip-optional-publish
      - name: List packages
        run: ls -R ./npm
        shell: bash
      - name: Build JS bindings
        run: pnpm build:js
      - run: rm $(find ./dist -name '*.node')
      - name: Publish
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
          TAG=$(node scripts/tag.js "${{ inputs.version }}")
          pnpm publish --filter "." --dry-run --access public --no-git-checks --tag "$TAG"
          pnpm publish --filter "./npm/*" --dry-run --access public --no-git-checks --tag "$TAG"
          pnpm publish --filter "." --access public --no-git-checks --tag "$TAG"
          pnpm publish --filter "./npm/*" --access public --no-git-checks --tag "$TAG"
      - name: Publish Github Release
        if: ${{ inputs.release }}
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ env.version_tag }}',
              sha: context.sha
            }).then(() => github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: '${{ env.version_tag }}',
              name: '${{ env.version_tag }}',
              draft: false,
              prerelease: ${{ inputs.pre-release }},
              generate_release_notes: true
            }))
